.grid-container-fluid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
  }
  .item1{
      grid-column-start: 1;
      grid-column-end: 3;
  }
  .grid-item{
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 90px;
      font-size: 20px;
      text-align: center;
  }
 
  #bb{
      background-color: rgba(47, 69, 78, 1);
  }
  #lb{
      background-color: rgba(111, 152, 168, 1);
  }
  #b{
      background-color: rgba(114, 195, 220, 1); 
  }
  #g{
      background-color: rgba(191, 191, 191, 1);
  } 

  h5{
    padding: 1em;
    text-align: center;
  }

  .btn{
    float: right;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    line-height: 12px;
    width: 150px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .act{
    background-color: rgba(115, 195, 220, 1);
    border-color: #FFFFFF;
    width: 150px;
    height: 50px;
  }
  
  @media screen and  (max-width: 375px){

    #title {
        cursor: pointer;
        height: 23px;
        width: 100%;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0A246A, endColorStr=#A6CAF0, GradientType=1);
        color: white;
        font: 13px arial, helvetica;
        background-color: #000000;
      }

       .btn{
        display: flex;
        /* padding: 0.7em; */
        margin-top: 1px;
        margin-right: 30%;
       }

       .act{
        background-color: rgba(115, 195, 220, 1);
        border-color: #FFFFFF;
       }
  
      .grid-container-fluid{
          grid-template-columns: auto;
          display: block;
          padding: 10px;
          margin-top: 90px;
      }
      .grid-item{
          padding: 1px;
          background-size: 10% auto;
      }
  }

